{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped" style="width:100%">
      <tr>
        <th>Type</th>
        <th>Symbol</th>
        <th>Price</th>
        <th>Shares</th>
        <th>Transacted</th>
      </tr>
    {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.type }}</td>
        <td>{{ transaction.symbol }}</td>
        <td>{{ transaction.price }}</td>
        <td>{{ transaction.shares }}</td>
        <td>{{ transaction.transacted }}</td>
      </tr>
    {% endfor %}

{% endblock %}